.app-site-container-style {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  min-width: 250px;
}

.adf-site-dropdown-container {
  width: 400px;
  .mat-form-field {
    display: block;
    margin-bottom: 15px;
  }
}
